.repos,
.following,
.followers {
    margin: 0 auto;

    &-list,
    &-list,
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;

        .item {
            width: 50%;

            .ant-card {
                outline: 1px solid #e8e8e8;
                outline-offset: -8px;
            }

            .description {
                margin-bottom: 8px;
            }
        }
    }
}