.repos,
.following,
.followers {
    margin: 0 auto;
    padding: 30px 30px 100px;
    
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        min-height: 300px;

        .item {
            width: 50%;

            .ant-card {
                cursor: pointer;
                outline: 1px solid #e8e8e8;
                outline-offset: -8px;
            }

            .ant-card-meta {
                cursor: pointer;
            }

            .description {
                margin-bottom: 8px;
            }
        }
    }
    
    .list-page {
        float: right;
    }

    .repos-list {
        .item {
            display: inline-block;
            margin: 10px;
            width: 43%;

            .ant-card {
                cursor: pointer;
                outline: none;
            }

            .description {
                margin-bottom: 8px;
            }
        }
    }
}

.events {
    margin: 40px;
}