.topnav {
    position: fixed;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;
    z-index: 1000;

    .topnav-logo {
        display: inline-block;
        vertical-align: middle;
        
        a {
            display: inline-block;
            color: #fff;

            svg {
                fill: currentColor;
            }
        }
    }

    .topnav-links {
        display: inline-block;
        margin-left: 20px;
        height: 100%;

        a {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .topnav-user {
        position: absolute;
        right: 70px;
        top: 18px;
        cursor: pointer;

        .anticon-user {
            font-size: 20px;
            margin-right: 4px;
            vertical-align: -3px;
        }
    }
}