.topnav {
    z-index: 32;
    padding: 16px;
    font-size: 14px;
    color: hsla(0,0%,100%,.7);
    background-color: #24292e;

    .topnav-logo {
        display: inline-block;
        vertical-align: middle;
        
        a {
            display: inline-block;
            color: #fff;

            svg {
                fill: currentColor;
            }
        }
    }

    .topnav-links {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        height: 100%;

        a {
            display: inline-block;
            margin: 0 10px;
        }
    }
}